body {
    background-color: blueviolet;
    font-family: ;
    color: azure;
    text-align: center;
}

#heading {
    text-align: center;
    font-size: 3rem;
}

#game-area {
    background-color: white;
    color: blueviolet;
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.player-area {
    width: 50%;
    height: 80%;
    
}

.computer-area {
    width: 50%;
    height: 80%;
    
}

